* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#app {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.button {
  font-size: 18px;
  padding: 1rem 2rem;
  background: none;
  border: none;
}
